@{
    ViewData["Title"] = "Home Page";
}

<br />
<div style="text-align:center; color:#000000; font-style:italic">
    <h1 style="border: 2px outset black; text-shadow:5px; border-radius:50px;">
        Welcome To<br />
        Kuwar's Car World
    </h1>
    <br />
    <h3>Sad because of low Credit Score! ;(</h3>
    <h5>Don't worry.. We approve all</h5>
</div>
<div>
    <p>
        Basically, I have created a car stocking system in which i have two tables one containing information about the supplier from where I buy the vehicles and the second table contains information about my car stocks that I have for the customers to sell.
    </p>
    <p>
        I have created a parent-child relationship between the two tables using the SupplierId field so that I could remeber the name and other details of person from where I bought the vehicle in case something misfortune happens
    </p>
    <p>Supplier table contains Supplier Name, Email, Contact.My Stock Table contains CarMake, Price, Location and SupplierId </p>
    <p>Linking the application with sql database is done perfectly. I used scaffolding to create the crud functionality for my controllers which made it easier. Use of entity framework was done as well.</p>
</div>

